/* Styling for the container */
.ForgotPass {
    max-width: 400px;
    margin: 2% auto;
    padding: 20px;
    border: 1px dotted #537E2C;
    border-radius: 5px;
    box-shadow: 0 0 10px #537E2C;
    text-align: center;
    
  }
  
  /* Styling for the form */
 .ForgotPass form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styling for the heading */
 .ForgotPass h2 {
    color: #537E2C;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Styling for the input field */
 .ForgotPass input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px dotted #537E2C;
    border-radius: 5px;
  }
  
  /* Styling for the button */
 .ForgotPass Button {
    background-color: #537E2C;
    color: #fff;
    border: none;
    padding: 2% 4%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.ForgotPass  Button:hover {
    background-color: #0056b3;
  }
  