.main_store{
    width: 90%;
    margin: auto;
}
.store-card {
    /* Adjust this value as needed */
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    /* color: #537E2C; */
    /* border: 1px dotted #537E2C; */
    text-align: left;
    box-shadow: rgba( 4, 142, 213) 0px 3px 8px;
  
    /* box-shadow: #537E2C 0px 54px 55px, #537E2C 0px -12px 30px, #537E2C 0px 4px 6px, #537E2C 0px 12px 13px, #537E2C 0px -3px 5px; */
  }
  .store-card:hover{
    border: 1px solid rgb(4, 142, 213);
    cursor: pointer;
  }
  .card-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit the text to 2 lines */
    -webkit-box-orient: vertical;
  }
@media (max-width: 1080px) {
    .storeul{
        /* height: 600px; */
        overflow: scroll;
        box-shadow: #537E2C 0px 7px 29px 0px;
        width: 98%;
        margin: auto;
        /* color:#537E2C; */
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

}
    @media (max-width: 998px) {
        .storeul{
           
            grid-template-columns: repeat(4,1fr);
        }

    }
    @media (max-width: 798px) {.storeul{
       
        grid-template-columns: repeat(2,1fr);
    }}
    @media (max-width: 520px) {.storeul{
       
        grid-template-columns: repeat(1,1fr);
    }}