

.mainsubCategorypage{
    display: flex;
    
 width:  90%;
 margin: auto;
 border-radius: 1%;
 margin-top: 1%;
 /* background-color: gold; */
 /* padding: 0.5%; */
 color: #048ED5 ;
 /* overflow: auto; */

 height: 600px;
 /* box-shadow: #048ED5 0px 5px 15px; */
}

.subcategorypageslider{
    overflow: scroll;
    /* background-color: blue; */
    display: flex;
    /* border-radius: 2%; */
    flex-direction: column;
    /* height: 1000px; */
width: 30%;
/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
margin: 2%;

}
.subcategorypageslider>h1{
    padding: 2%;
}
.subcategorypageslider>div{
    border: 0.1px dotted #048ED5  ;
/* box-shadow: #048ED50px 0px 5px 5px ; */
margin: 2%;
/* background-color: violet; */
/* overflow: scroll; */
/* border: 2px solid green; */
border-radius: 3%;
}
.subcategorypageslider>div:hover{
    cursor: pointer;
border:1px solid #048ED5;

}
.subcategorypageslider>div>img{
    height: 110px;
}




.subcategorypagedatashow{
    height: 500px;
    width: 98%;
margin: 2%;
overflow: scroll;
    
    /* height: 1000px; */
    /* display:grid; */
/* justify-content: flex-start; */
/* background-color: red; */
    /* grid-template-columns: repeat(4,1fr); */
    border-radius: 2%;
    /* margin: auto; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.subcategorypagedatashow>div{
    overflow: scroll;

 display:grid;
 justify-content: center;
 color: #048ED5 ;
    grid-template-columns: repeat(4,1fr);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin: 2%;
    padding: 2%;
    border-radius: 3%;
    }
     .subcategorypagedatashow>div>div{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 2%;
margin: 2%;
border-radius: 10px;
/* border: 2px solid rgb(161, 77, 77); */
    }
    .subcategorypagedatashow>div>div:hover{
    background-color: #048ED5   ;
    color: white;
    pointer-events:visible;
    cursor: pointer;
    }
    .subcategorypagedatashow>h1{
        padding: 0.1%;
    }
.subcategorypagedatashow img{
    height: 100px;
}
::-webkit-scrollbar {
    width: 0px;
   
  }






    @media (max-width: 1200px) {
        .subcategorypagedatashow>div{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            }
    }
    @media (max-width: 998px) {
        .subcategorypagedatashow>div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        }
        .subcategorypagedatashow img{
            height: 100px;
        }
    }
    @media (max-width: 798px) {
.subcategorypagedatashow>div{
    grid-template-columns: repeat(3,1fr);

}
        .subcategorypagedatashow img{
            height: 70px;
        }
        .subcategorypageslider div img{
            height: 100px;
        }
    }
    @media (max-width: 520px) {
        .subcategorypagedatashow>div{
            grid-template-columns: repeat(1,1fr);
        
        }
        .subcategorypagedatashow{
            width: 60%;
        }
.subcategorypageslider{
width: 40%;
}
        .subcategorypageslider div img{
            height: 50px;
        }
    }